# ==============================
# ARCHIVOS DE PYTHON
# ==============================
__pycache__/
*.py[cod]
*$py.class

# ==============================
# ENTORNO VIRTUAL
# ==============================
venv/
env/
ENV/
.venv/
.idea/
.vscode/

# ==============================
# BASE DE DATOS LOCAL
# ==============================
db.sqlite3

# ==============================
# CONFIGURACIONES LOCALES
# ==============================
*.env
.env

# ==============================
# ARCHIVOS ESTÁTICOS Y MEDIA
# ==============================
media/
staticfiles/
static/

# ==============================
# ARCHIVOS DEL SISTEMA
# ==============================
.DS_Store
Thumbs.db

# ==============================
# LOGS Y CACHÉ
# ==============================
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.mo
*.sqlite3
*.db
*.swp
*.swo

# ==============================
# RENDER Y DEPLOY
# ==============================
__pycache__/
*.bak
*.tmp
